.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #040113, #234224, #418d0f);
  color: white;
}

.jumbotron h2 {
  color: #dad6ce;
}
.navbar {
  margin: 0;
  background-color: #040113;
  color: #ffffff
}